/* Imagen principal */
.gym-img {
    width: 100%;
    border-radius: 12px;
}

/* Estilo info */
.icon {
    width: 20px;
    height: 20px;
    opacity: 0.85;
}

/* Rating */
.rating input {
    display: none;
}

.rating label {
    font-size: 1.8rem;
    cursor: pointer;
    color: #ddd;
    transition: 0.2s;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: gold;
}

/* Tarjetas de comentarios */
.card {
    border-radius: 12px !important;
}

.desc {
    text-align: justify;
}

#play{
    width: 80%;
    display: block;
    margin:0 auto;
    text-align: center;
}