html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.title{padding:2.5rem 1rem 1rem;margin-bottom:0.25rem;font-family:'Playfair Display', serif;}

#activityMap { 
  width: 100%; 
  height: 325px; 
  border-radius: 12px;
  margin-bottom: 20px; 
  border: 2px solid #3d845e;
}

.filterForm{
  display: flex;
  align-items: center;
  width: 100%;}

.searchWrapper{
  position: relative;
  flex-grow: 1;
}

.searchBar{
  width: 100%;
  height: 46px;
  padding-left: 15px;
  background: #dff0e5;
  border: 1px solid #bedfcd;
  border-radius: 45px;
  font-size: 1.1rem;
  outline: none;
}

.filterBtn{  
  margin-left: 12px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.imgSearch{
  width: 20px;
  opacity: 0.7;
}

.dateForm{gap: 3px;}

.beguinDate{    
  max-width: 220px;
  border-radius: 12px;
  padding: 8px 12px;
  font-size: 0.95rem;
}

.filterDateBtn{
  border-radius: 12px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #28a745;
  border: none;
}

.imgFilter{
  width: 20px;
  height: 20px;
}

.gym-loc{text-align: justify;}

.gim-title{color:green;font-size:5.5rem;}

.act-title{color:black;font-size:5.5rem;}

.gym-img{max-width: 100%;height: auto;border-top-left-radius: 20px !important; border-top-right-radius: 20px !important;}

.gym-info{border-bottom-left-radius: 20px !important; border-bottom-right-radius: 20px !important; box-shadow: 0px 5px 5px rgba(0, 0, 0, .45) !important;}

.titleGym{font-size: 1.12rem;}

.icon{width: 10%; height: 10%;}

.dateContainer{display:flex; flex-direction: row;}

.locContainer{display:flex; flex-direction: row;}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 100%;
}

.btnContainer{display: flex; justify-content: center; align-items: center; margin-top:5px;margin-bottom:5px;}

.gymkhanaBtn{border-radius: 30px; padding-left: 1.3rem; padding-right: 1.3rem; padding-top: 0.3rem; padding-bottom: 0.3rem; color: rgba(0, 140, 70, 1);margin :5px;}

.addBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border-radius: calc(45px / 2);
  border: none;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 100;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  background: linear-gradient(135deg, #00c853, #4caf50, #81c784);
  transition: width 0.3s ease, transform 0.2s ease; /* sin animar bottom */
}

/* signo + */
.addBtn .sign {
  width: 100%;
  font-size: 2.2em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-2px); /* lo sube visualmente un poco */
  transition: width 0.3s ease, padding-left 0.3s ease;
}

/* texto Create */
.addBtn .text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.35em;
  font-weight: 500;
  transform: translateY(-2px); /* lo sube también un poco */
  transition: opacity 0.3s ease, width 0.3s ease, padding-right 0.3s ease;
}

/* efecto hover (ensanche del botón) */
.addBtn:hover {
  width: 130px;
}

.addBtn:hover .sign {
  width: 30%;
  padding-left: 18px;
}

/* texto visible al hover */
.addBtn:hover .text {
  opacity: 1;
  width: 70%;
  padding-left: 7px;
}

/* clic efecto */
.addBtn:active {
  transform: translate(2px, 2px);
}


@media (max-width:768px){
  .desc{text-align: justify;}
  
  .dateForm {
    width: 100%;
  }

  .beguinDate {
    flex: 1;
    max-width: 100%;
  }

  .filterDateBtn{
    width: 48px;
    height: 38px;
  }
}

/*MODAL*/
.signup-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
  z-index: 1000;
}

.signup-modal-content {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 30px 40px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#signup-modal-title{
  font-size: 20px;
}

.signup-accept {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.signup-close {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.signup-close:hover {
  background-color: #bbb;
}

#ranking{
  width: 80%;
  display: block;
  margin:0 auto;
  text-align: center;
}