.title{
  font-size: 3rem;
  font-weight: 700;
  color: #157347;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-brand{
  font-size: 2rem;
  font-weight: 700;
  gap: 30px;
}

#notification {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #4c98d2ac;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#notification-box {
  background-color: white;
  color: black;
  font-size: 1.2rem;
  border-radius: 12px;
  padding: 20px 40px;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
  transform: scale(1);
}

.filterForm{
  display: flex;
  align-items: center;
  width: 100%;
}

.searchWrapper{
  position: relative;
  flex-grow: 1;
}

.searchBar{
  width: 100%;
  height: 46px;
  padding-left: 15px;
  background: #dff0e5;
  border: 1px solid #bedfcd;
  border-radius: 45px;
  font-size: 1.1rem;
  outline: none;
}

.filterBtn{  
  margin-left: 12px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.imgSearch{
  width: 20px;
  opacity: 0.7;
}

#ranking{
  width: 80%;
  display: block;
  margin:0 auto;
  text-align: center;
}