* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #E1F5E9, #c8f0d1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container {
  width: 900px;
  height: 550px;
  background: #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 8px 30px rgba(0,0,0,0.15);
}

/*Info Side*/
.login-info {
  background: linear-gradient(135deg, #1d7038, #239b56);
  width: 45%;
}

.login-info h1 {
  font-size: 40px;
}

.login-info .illustration {
  width: 80%;
  max-width: 250px;
  margin-top: 20px;
  opacity: 0.9;
}

/*form side*/
.login-form {
  width: 55%;
  background: #fff;
}

.input-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  opacity: 0.6;
}

input[type="radio"] {
  margin-right: 6px;
}

button.btn-success {
  background: #1d7038;
  border: none;
  transition: all 0.3s;
}

button.btn-success:hover {
  background: #239b56;
  transform: translateY(-2px);
}

/*image CSS*/
.image-upload input[type="file"] {
  display: none;
}

.upload-label {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 20px;
  border: 2px solid #1d7038;
  color: #1d7038;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.upload-label:hover {
  background: #1d7038;
  color: #fff;
}

.profile-preview {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #1d7038;
  margin-bottom: 10px;
}
