/*modal css*/
.custom-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
  z-index: 1;
}

.custom-modal-content {
  background-color: #319d31;
  border-radius: 10px;
  color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  padding: 30px 40px;
  width: 50%;
  max-width: 70%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: justify;
  line-height: 1.25;
  gap: 30px;
  position: relative;
  overflow: hidden;
}

.custom-modal-content .close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #666;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.custom-modal-content .close:hover {
  color: #000;
}

h3{
  font-size: 2rem;
}