html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
body{font-family: 'Poppins', sans-serif;}
:root{
--green:#0b8a3e;
--light-green:#e6f5ef;
--muted:#6c757d;
}

.title{text-align:center; padding:2.5rem 1rem 1rem;margin-bottom:0.25rem;font-family:'Playfair Display', serif;}
.title p{color:var(--green);font-size:5.5rem;}
.title h6{color:black;font-size:2.5rem;margin-right: 10px;}
.title p, .title h6{display: inline;margin:0;}

.subtitle{color:black;font-weight:600;margin-bottom:1.25rem}

.top-banner{background:var(--light-green);padding:2rem;border-radius:6px;margin-bottom:4rem}
 
.icon-placeholder{width:90px;height:90px;border:2px dashed black;border-radius:6px;display:flex;align-items:center;justify-content:center;font-weight:600;color:var(--muted);background:rgba(255,255,255,0.6)}

.middleDiv img{max-width: 100%;}

.right-paragraph{color:black;justify-content:center;line-height: 2.25;font-size:1rem;}

.ods-card { 
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(48, 98, 57, 0.689);
  transition: transform 0.3s ease;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: white;
}

.ods-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  width: 100%;
  background-color: var(--ods-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ods-card:hover{transform: scale(1.03);}
.ods-card img{width:40%;height:auto;object-fit:contain;border-radius:10px;}
.ods-card button {margin-top: 10px;margin-bottom: 3px;}

.ods-swatch{width:56px;height:56px;border-radius:6px;display:flex;align-items:center;justify-content:center;font-weight:700;color:white}

.ods-desc{flex-grow:1;color:black;font-size:0.9rem;line-height:1.4;margin:10px;}

.objectius{row-gap:1rem;}

.title3{font-weight: bold;}

/*button that calls modal css*/
.modalBtn{
  background-color:#2ea85d;
  color: white;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(48, 98, 57, 0.689);
  cursor: pointer;
  width: 120px;
  height: 25px;
  margin-bottom: 1px;
  border: none;
}
.modalBtn:hover{
  transition: all 0.2s ease;
  transform: translateY(-1px);
  box-shadow: 0 0 15px #45c765;
}

/*modal css*/
.custom-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
  z-index: 1;
}

.custom-modal-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  padding: 30px 40px;
  width: 70%;
  max-width: 70%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: justify;
  line-height: 1.25;
  gap: 30px;
  position: relative;
  overflow: hidden;
}

.custom-modal-content img {
  width: 40%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 10px;
}

.custom-modal-content .close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #666;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.custom-modal-content .close:hover {
  color: #000;
}

/*responsive in other devices*/
@media (max-width:1024px){
  .middleDiv img{width:90%;max-width: 600px;}
  .ods-row{justify-content:center !important;}
  .objectius{justify-content:center;}
  .ods-card img{width:35%;height:auto;object-fit: contain;border-radius:10px;}
}

@media (max-width:768px){
  .ods-card {flex-direction:column;align-items: center;text-align: center;max-width:90%;margin:0 auto;}
  .ods-card img {margin-bottom: 10px;}
  .ods-desc {font-size: 0.85rem;}
  .modalBtn {width: 100px;height: 28px;font-size: 0.8rem;}
  .custom-modal-content {
    flex-direction: column;
    height: 90vh;
    width: 90%;
  }
  .custom-modal-content img {
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
  }
  .modal_text {
    padding: 20px;
  }
}
.objectius > .col-12,
.objectius > .col-sm-6,
.objectius > .col-md-4,
.objectius > .col-lg-3 {display: flex;}

/*information ods modal css*/
.modal_text h3{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.modal_text h6 {
  margin-top: 1rem;
  font-weight: 700px;
  font-size: 1.15rem;
}

.modal_text p {
  margin-bottom: 0.8rem;
  line-height: 1.6;
}

.modal_text ul {
  margin-left: 1.2rem;
  margin-bottom: 1rem;
}

.modal_text li {
  margin-bottom: 0.4rem;
}

.modal_text{
  flex:1;
  overflow-y: auto;
  max-height: 100%;
  padding-right: 20px;
  box-sizing: border-box;
}
.modal_text::-webkit-srollbar{
  width: 8px;
}
.modal_text::-webkit-srollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}
.modal_text::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}
.ods-desc .buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.modalEdit{
  border: none;
  background: none;
  padding:0;
  cursor: pointer;
}

.titolOds{
  font-size:1.3rem;
}

