html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.header{
    text-align: center;
    margin-bottom: 60px;
}

.gym-img{
    width: 100%; 
    max-height: 300px; 
    object-fit: cover;
}

.Gymtitle{
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    color: #1d7038;
}

.gymkhana_description{
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
}

.gymkhana-details{
    display:flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.detail-item{
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid #1d703977;
}

.section-title{
    font-size: 2rem;
}

.activity-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Activities style*/

.activity-img-container {
    position: relative;
    width: 140px;
    height: 140px;
    margin-bottom: 10px;
    border-radius: 50%; 
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.activity-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: filter 0.3s ease, transform 0.2s ease-in-out;
}

.activity-title {
    font-size: 1.3rem;
    margin-top: 5px;
    font-weight: 600;
}

.unlocked .activity-img:hover {
    transform: scale(1.03);
}

/* Success*/

.activity-card.completed .activity-img {
    filter: blur(4px) brightness(80%);
}

.overlay-success {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(29, 112, 56, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.overlay-success .success-icon {
    width: 35%;
    height: auto;
}

.activity-card.locked .activity-img {
    filter: grayscale(80%) blur(1px) brightness(60%);
}

.overlay-locked {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(108, 117, 125, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.overlay-locked .lock-icon {
    font-size: 38px;
    color: white;
}