.activity-container { 
    max-width: 1100px; 
    margin: 0 auto; 
}
.question-box { 
    background:#e9f8ef; 
    border-radius:10px; 
    padding:18px; 
}
.answer-feedback { 
    margin-top: 15px; 
    font-weight: bold; 
}
#activityMap { 
    width: 100%; 
    height: 350px; 
    border-radius: 12px;
    margin-bottom: 20px; 
    border: 2px solid #3d845e;
}
.option-card { 
    border: 2px solid #ccc; 
    padding: 12px; 
    border-radius: 10px; 
    cursor:pointer; 
    transition: .3s; 
}
.option-card:hover { 
    background: #f2f2f2; 
}
.selected { 
    border-color: #1abc9c !important; 
    background:#e7fff9; 
}
.act-btn{
    border-radius: 10px;
    width: 10%;
    height: 30px;
    padding: 3px 15px;
    color: white;
    text-align: center;
    justify-content: center;
}
.type-act-btn {
    border-radius: 10px;
    width: fit-content;
    padding: 5px 15px;
    border: 2px solid #1abc9c;
    color: black;
    margin-left: auto;
    display: block;
}