.title{
  padding:2.5rem 1rem 1rem;font-family:'Playfair Display', serif;
}

.title-p1{color:green;font-size:5.5rem;}

.title-p2{color:black;font-size:5.5rem;}

.subtitle{padding:1rem 1rem 1rem; font-family:'Playfair Display', serif; font-size: 2rem;}

.gymkhana-card {
  display: flex;
  align-items: center;
  background-color: #1d7038;
  border-radius: 10px;
  padding: 10px;
  gap: 15px;
  width: 100%;
  overflow: hidden;
  padding: 15px;
  margin-bottom:20px;
}

.gym-img {
  height: 100%;
  max-height: 90px;
  width: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 6px;
}

.gym-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  gap: 20px;
  color: white;
}

.info-block {
  display: flex;
  align-items: center;
  gap: 6px;
}

.info-date {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 6px;
}

.info-block img {
  width: 22px;
  height: 22px;
}

.button button {
  white-space: nowrap;
}

@media (max-width: 768px) {
  .gymkhana-card {
    overflow: scroll;
  }

  .gym-info {
    flex-direction: row;
    gap: 10px;
  }
}
